.App {
  text-align: center;
  background-color: rgb(232, 232, 232);
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  padding: 20px 0px;
  width: 75%;
  margin: auto;
  height: 600px;
}

.header{
  display: flex center;
  justify-content: center;
}
.welcome{
  display: flex center;
  background-color: black;
  color: aliceblue;
  border-radius: 1rem;
  padding: 20px 0px;
  width: 400px;
  margin: auto;
  margin-bottom: 1rem;

}
